# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# Databases and instance files
instance/
*.db

# Flask migrations cache
migrations/__pycache__/
migrations/versions/__pycache__/

# PyInstaller
*.spec

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and local files
*.log
*.tmp
*.bak

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
